.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 10px;
    height: 100vh;
    width: 100vw;
    padding: 10px;
    box-sizing: border-box;
    background-color: lightseagreen;
}
.item1{
    height: 100px;
    background-color: lightcoral;
}
.item2{
    height: 100px;
    background-color: lightskyblue;
}
.item3{
    height: 100px;
    background-color: rgb(26, 202, 105);
}
.item4{
    height: 100px;
    background-color: lightyellow;
}
.item5{
    height: 100px;
    background-color: lightpink;
}
.item6{
    height: 100px;
    background-color: rgb(182, 255, 208);
}