*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background-color :green;
    height: 100%;
    width: 100%;
    display: grid;
    border: 5px solid black;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}
.item {
    background-color:rgb(220, 220, 201);
    border: 2px solid black;
    padding: 20px;
    font-size: 30px;
    text-align: center;
}
.item1{
    grid-column: 1/6;
    grid-row: 1/2;
}
.item2{
    grid-column: 1/2;
    grid-row: 2/4;
}
.item3{
    grid-column: 2/6;
    grid-row: 2/4; 
}
.item4{
    grid-column: 1/3;
    grid-row: 4/5;
}
.item5{
    grid-column: 3/6;
    grid-row: 4/5;
}
.item6{
    grid-column: 1/6;
    grid-row: 5/6;
}